/* General styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18vh;
  min-height: 60px;
  max-width: 100vw;
  margin-left: 30px;
  margin-right: 30px;
}

main {
  height: 88vh;
  background: aquamarine;
}

/* Styles navigation bar */
/* Left side */
.navBar_icons_leftSide {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navBar_infoButton_leftSide {
  border: none;
  border-radius: 50%;
}

.navBar_infoButton_leftSide img {
  height: 50px;
}

/* Middle */
.navBar_searchBar {
  display: flex;
  border-radius: 10px;
  width: fit-content;
  outline: red;
  background: #cac2b7;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
}
.navBar_searchBar input {
  width: 20vw;
  outline: none;
  background: transparent;
  font-size: 12px;
}
.navBar_searchBar label {
  display: flex;
  align-items: center;
}
.navBar_searchBar:focus-within {
  box-shadow: 1px 1px 10px #222;
  background: #fff;
  border: none;
}

/* Right side */
.navBar_icons_rigthSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navBar_icons_rigthSide img {
  height: 30px;
  width: 30px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  padding-right: 40px;
}

.dropdown-menu {
  padding: 0;
  height: 19vh;
  width: 9vw;
}

@media (max-width: 768px) {
  .navBar_languageDropdown,
  .navBar_helpDropdown,
  .navBar_searchBar input,
  .navBar_searchBar label {
    display: none;
  }
}
