@import url(normalize.css);

/* Header styles */
header {
  position: static;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  min-height: 60px;
  max-width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  background: var(--backgorundGray);
}

/* Styles navigation bar */
/* Left side */
.navBar_icons_leftSide {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 33.3%;
}

.navBar_icons_leftSide .container_Logo {
  width: 10vw;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden !important;
  position: relative;
}

.icon-logo-index {
  transform: scale(0.7);
}

.flip-container {
  background-color: transparent;
  width: 40px;
  height: 40px;
  perspective: 1000px; 
}
.card-flip-animation {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-container .star-flip {
  transform: rotateY(180deg);
}
.front-flip, .back-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.back-flip {
  transform: rotateY(180deg);
}

.navBar_icons_leftSide .container_Logo .logo{
  position: absolute;
}

.logoHidden {
  overflow: hidden;
}

.navBar_icons_leftSide h6 {
  color: var(--magenta);
}

.navBar_infoButton_leftSide {
  border: none;
  border-radius: 50%;
}

.navBar_infoButton_leftSide img {
  height: 40px;
}

/* Middle */
.navBar_searchBar {
  display: flex;
  border-radius: 10px;
  width: fit-content;
  background: var(--gray);
  height: 35px;
}
.navBar_searchBar input {
  width: 20vw;
  outline: none;
  background: transparent;
  font-size: 12px;
  padding-left: 10px;
}
.navBar_searchBar label {
  display: flex;
  align-items: center;
}

.navBar_searchBar label img {
  height: 17px;
  padding-right: 10px;
}

.navBar_searchBar:focus-within {
  box-shadow: 1px 1px 10px #222;
  background: #fff;
  border: none;
}

/* Right side */
.navBar_icons_rigthSide {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 33.3%;
}

.navBar_icons_rigthSide img {
  height: 30px;
  width: 30px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-right: 40px;
  height: 50px;
  gap: 10px;
}

.navBar_icons_rigthSide .dropdown-item:hover {
  background: var(--backInputs);
}

.dropdown-item img {
  height: 25px;
  width: 25px;
}

.dropdown-menu {
  padding: 0;
  height: fit-content;
}

.nav-link.dropdown-toggle::after {
  display: none;
}

.nav-link.dropdown-toggle {
  display: flex;
  align-items: end;
}

.arrow_down_dropdownMenu {
  height: 5px !important;
  width: 8px !important;
  margin-left: 8px;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .navBar_languageDropdown,
  .navBar_helpDropdown,
  .navBar_searchBar input,
  .navBar_searchBar label {
    display: none;
  }
}
