@import url(normalize.css);

.mapHistory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64vh;
  width: 100vw;
  gap: 20px;
}

.mapHistory_topContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 25%;
}

.mapHistory_topContent img {
  height: 60px;
}

.mapHistory_topContent .btnFilter,
.btnFilter:hover,
.btnFilter.show {
  border: none;
}

.mapHistory_bottomContent {
  height: 100%;
  width: 70%;
  display: flex;
  padding-bottom: 10px;
}

.filterSection {
  width: 20%;
}

.filterContent {
  border: 1px solid var(--magenta);
  border-radius: 10px;
}

#filterSinceDate,
#filterToDate {
  border-radius: 10px;
  background: var(--backInputs);
  border: none;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 150px;
}

.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
  overflow-y: scroll;
  width: 80%;
}

.star {
  height: 22px;
  margin: 7px;
}

.card {
  width: 18rem;
  border: 1px solid var(--magenta);
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.card-body div {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.card-body input {
  width: 90px;
  border-radius: 10px;
  background: var(--backInputs);
  border: none;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img-top {
  height: 150px;
  width: 95%;
  border-radius: 10px;
}
