@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* CSS url as Arcgis */
@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";

* {
  font-family: "inter", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --icons: rgba(82, 82, 82, 0.8);
  --gray: #cac2b7;
  --backgorundGray: rgb(202, 194, 183, 0.1);
  --cyan: #48f5f9;
  --green: #35e6b5;
  --yellow: #ffc443;
  --orange: #ff8b38;
  --magenta: #d43347;
  --purple: #db50e2;
  --backInputs: #ede6d6;
  --backbuttons: linear-gradient(
    90deg,
    rgba(255, 196, 67, 1) 0%,
    rgba(255, 139, 56, 1) 100%
  );
  --backfooter: rgb(202, 194, 183, 70);
}

#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
}

.menu-left {
  height: 100%;
  width: 100%;
  margin-top: 18vh;
}

footer {
  background: var(--gray);
  height: 18vh;
  width: 100vw;
}

/* ORDER
  
          BACKGROUND PAGE: white 
          ICONS  : icons
          FONT: inter
  
              **NAVBAR** 
              BACKGROUND :backgorundGray
              FONT-SIZE: 16 PX
              FONT-COLOR: black
              FONT-WEIFHT:NORMAL
              LOWERCASE
              ICON-SIZE (MENU):50 PX
              ICONS-SIZE: 40 PX
              SEPARATION BETWEEN ICONS H: 20 PX ( WHIT EXCEPTION THE ARROW)
  
                **SEARCH BAR** 
                BACKGROUND : gray 
                BORDER RADIUS : 10 PX
                TEXT: Search type of keywords
                FONT-SIZE: 12 PX
                FONT-COLOR: black
                FONT-WEIFHT:NORMAL
                ICONS-SIZE: 20 PX
                LOWERCASE
                
                **DROP-DOWN MENU**
                BACKGROUND : backgorundGray
                FONT-SIZE: 16 PX
                FONT-COLOR: black
                ICONS-SIZE: 30 PX
                GAP ICONS :20 PX
  
              **MAPS**
              BACKGROUND: gray
              BORDER RADIUS : 10 PX
              ICONS-SIZE: 40 PX
              GAP ICONS: 10 PX 
  
              **LOCATION**
              BACKGROUND: white
              BORDER RADIUS : 10 PX
              BORDER-COLOR: MAGENTA
              BORDER-SIZE: 2 PX  
              ICON-SIZE (PIN): 30 PX
              ICONS-SIZE: 20 PX
              ICON-SIZE (-x): 10 PX
              GAP ICONS: 10 PX 
              TITLE: LOCATION CAPITALICE
              FONT-SIZE (TITLE): 20 PX
              FONT-COLOR (TITLE): black
              FONT-WEIFHT (TITLE): BOLD
              
                  **BOX INPUT**
                  BACKGROUND: backInputs
                  BORDER RADIUS : 10 PX 
                  ICON-SIZE (PIN): 30 PX
                  ICONS-SIZE: 10 PX 
                  FONT-SIZE (INPUT): 16 PX
                  FONT-COLOR (INPUT): black
                  FONT-WEIFHT (INPUT): NORMAL
                  INPUT LOWERCASE 
                  GAP INPUTS: 10 PX 

                  **BUTTON**
                  BACKGROUND: backbuttons
                  BORDER RADIUS : 12 PX 
                  FONT-SIZE: 16 PX
                  FONT-COLOR: white
                  FONT-WEIFHT: NORMAL
                  CAPITALICE 

              **ROAD IMPROVEMENTS**
              BACKGROUND: WHITE
              BORDER RADIUS : 10 PX
              BORDER-COLOR: MAGENTA
              BORDER-SIZE: 2 PX  
              ICON-SIZE (STATISTICS): 30 PX
              ICON-SIZE (-x): 10 PX
              GAP ICONS: 10 PX 
              TITLE: ROAD IMPROVEMENTS 
              FONT-SIZE (TITLE): 20 PX
              FONT-COLOR (TITLE): black
              FONT-WEIFHT (TITLE): BOLD
              CAPITALICE   

                  **BOX STATISTICS**
                  BACKGROUND: MAGENTA 38%
                  BACKGROUND: ORANGE 38%
                  BACKGROUND: YELLOW 60%
                  BORDER RADIUS : 10 PX 
                  GAP BOX  : 14 PX 
                  FONT-SIZE (BOX): 16 PX
                  FONT-COLOR (BOX): black
                  FONT-WEIFHT (BOX): NORMAL
                  BOX LOWERCASE 
  
              **GAS**
              BACKGROUND: WHITE
              BORDER RADIUS : 10 PX
              BORDER-COLOR: MAGENTA
              BORDER-SIZE: 2 PX  
              ICON-SIZE (GAS): 30 PX
              ICON-SIZE (-x): 10 PX
              GAP ICONS: 10 PX 
              TITLE: GAS
              FONT-SIZE (TITLE): 20 PX
              FONT-WEIFHT (TITLE): BOLD
              CAPITALICE   
              +PRICE : NUMBER RANDOM (STATISTICS)
              FONT-SIZE (+PRICE): GREEN
              FONT-WEIFHT ( +PRICE): NORMAL 
              +PRICE LOWERCASE 
              
                **GRAPICH**
                COLOR: cyan 
                ICON-DONUT: 8PX 

            **LATERAL MENU**
              BACKGROUND : backgorundGray
              FONT-SIZE: 16 PX
              FONT-COLOR: black
              FONT-WEIFHT:SEMI-BOLD (SERVICE, HISTORY, YOUR ROUTE YOUR REPORT , SETTING , LOG OUT)
              FONT-WEIFHT: NORMAL
              LOWERCASE
              ICONS-SIZE: 30 PX
              GAP ICONS :20 PX 

              **ALTERTS**
              BACKGROUND: white
              FONT-SIZE: 16 PX
              FONT-COLOR: black 
              FONT-WEIFHT:NORMAL
              LOWERCASE
              BORDER RADIUS : 10 PX
              BORDER-COLOR: orange
                            cyan
                            yellow
                            green 
                            magenta
                            purple
                          NOTE: DEPENDIENDO LA ALERTA ES EL COLOR  
              BORDER-SIZE: 2 PX  
              SHADOW: X=0 Y=2 BLUR=10 NOTE: DEPENDIENDO LA ALERTA ES EL COLOR 
              
                **TITLE**
                BACKGROUND: orange 9%
                            cyan  9%
                            yellow 9%
                            green  9%
                            magenta 9%
                            purple 9%
                          NOTE: DEPENDIENDO LA ALERTA ES EL COLOR  
                FONT-SIZE: 20 PX
                FONT-COLOR: black 
                FONT-WEIFHT:BOLD
                BORDER RADIUS : 10 PX
                BORDER-COLOR: orange
                            cyan
                            yellow
                            green 
                            magenta
                            purple
                          NOTE: DEPENDIENDO LA ALERTA ES EL COLOR    
                BORDER-SIZE: 2 PX  
                CAPITALICE 

              **FOOTER**
              BACKGROUND: gray
              FONT-SIZE: 16 PX
              FONT-COLOR: black 
              FONT-WEIFHT:SEMI-BOLD
              LOWERCASE
              ICONS-SIZE: 40 PX

              **SAVED MAPS**
              BACKGROUND: white
              TITLE:SAVED MAPS 
              ICON-SIZE (TITLE): 50 PX
              FONT-SIZE (TITLE): 24 PX
              FONT-WEIFHT (TITLE): BOLD
              GAP CARDS: 30 PX 

              **LOCATION**
              BACKGROUND: white
              BORDER RADIUS : 10 PX
              BORDER-COLOR: MAGENTA
              BORDER-SIZE: 2 PX  
              ICONS-SIZE (LOCATION): 20 PX
              ICONS-SIZE (STAR YELLOW): 30 PX
              ICON-SIZE (-x): 10 PX
              GAP ICONS: 10 PX 
              TITLE: LOCATION
              FONT-SIZE (TITLE): 20 PX
              FONT-COLOR (TITLE): black
              FONT-WEIFHT (TITLE): BOLD
              
                  **BOX INPUT**
                  BACKGROUND: backInputs
                  BORDER RADIUS : 10 PX 
                  ICON-SIZE (PIN): 30 PX
                  ICONS-SIZE: 10 PX 
                  FONT-SIZE (INPUT): 16 PX
                  FONT-COLOR (INPUT): black
                  FONT-WEIFHT (INPUT): BOLD
                  INPUT LOWERCASE 
                  GAP INPUTS: 10 PX 

                  **BUTTON**
                  BACKGROUND: backbuttons
                  BORDER RADIUS : 12 PX 
                  FONT-SIZE: 20 PX
                  FONT-COLOR: white
                  FONT-WEIFHT: NORMAL
                  CAPITALICE 
              
               
              */
