@import url(normalize.css);

body {
  background: var(--white);
  width: 100vw;
  height: 100vh;
}

.savedMaps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.savedMaps_Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}

.savedMaps_Icon {
  width: 60px;
  height: 60px;
}

.savedMaps_Text {
  font-weight: bold;
  text-align: center;
}
.savedMaps_ContainerCards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}

.savedMaps_Card {
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--magenta);
}

.savedMaps_Card_Icon {
  display: flex;
  justify-content: end;
  padding-top: 10px;
  padding-right: 10px;
}

.savedMaps_Card_Icon_Star {
  width: 30px;
  height: 30px;
}

.savedMaps_Card_From {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.savedMaps_Card_From_Icon {
  width: 20px;
  height: 20px;
}

.savedMaps_Card_From_Input {
  width: 230px;
  height: 45px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background: var(--backInputs);
  border: none;
  padding: 10px;
}
.savedMaps_Card_To {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.savedMaps_Card_To_Icon {
  width: 20px;
  height: 20px;
}
.savedMaps_Card_To_Input {
  width: 230px;
  height: 45px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background: var(--backInputs);
  border: none;
  padding: 10px;
}

.savedMaps_Card_Button {
  display: flex;
  justify-content: center;
}
.savedMaps_Card_Button_Go {
  background: var(--backbuttons);
  width: 200px;
  height: 45px;
  border-radius: 12px;
  border: 2px;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
