@import url(normalize.css);

body {
  background: var(--backgorundGray);
}

.signIn {
  position: absolute;
  background: white;
  width: 440px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid magenta;
}

.signIn_Title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-body {
  width: auto;
  height: auto;
}

.signIn_Title button {
  top: 0;
  right: 0;
  position: absolute;
}

.signIn_Title h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

.signIn_Subtitle {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  margin-left: -250px;
}

.formSing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.signIn_Title h1,
.formSing p,
.SignIn_Continue p {
  margin: 0 !important;
}

.signIn_Form_Username,
.signIn_Form_password {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 2px;
}

.signIn_Form_Option {
  width: 350px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background: var(--backInputs);
}

.signIn_Form_User_Icon,
.signIn_Form_Key_Icon,
.signIn_Form_Eye_Icon {
  width: 30px;
  height: 28px;
  padding: 5px;
}

#Eye_Icon_Show {
  display: none;
}

.signIn_Checkbox {
  display: flex;
  gap: 80px;
  padding: 20px;
}

.signIn_Button {
  background: var(--backbuttons);
  width: 350px;
  height: 50px;
  border-radius: 12px;
  border: 2px;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.SignIn_Continue {
  text-align: center;
}

.SignIn_SocialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}

.SocialMedia_Google,
.SocialMedia_Whatsapp,
.SocialMedia_Facebook {
  width: 50px;
  height: 50px;
  background: var(--backInputs);
  display: flex;
  border-radius: 10px;
}

.SocialMedia_Google a,
.SocialMedia_Whatsapp a,
.SocialMedia_Facebook a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn_SocialMedia_Google,
.signIn_SocialMedia_Whatsapp,
.signIn_SocialMedia_Facebook {
  width: 20px;
  height: 20px;
}

.signIn_CreateAccount {
  margin-left: 180px;
}