@import url(normalize.css);

body {
  background: var(--backgorundGray);
}

.signUp {
  position: absolute;
  background: white;
  width: 440px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--magenta);
}

.signUp_Title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.signUp_Form_Option label {
  font-size: 16px;
  font-weight: normal;
  display: flex;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: (20px, 5px, 20px, 20px);
}

.signUp_Form_Option input {
  background: var(--backInputs);
  border: 1px solid transparent;
  width: 350px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.signUp_Form_Option_Name,
.signUp_Form_Option_users {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.signUp_Form_Option_Name input {
  width: 165px;
  height: 32px;
}
.signUp_Form_Option_users input {
  width: 150px;
  height: 32px;
}

.signUp_Form_Option_Icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signUp_Form_User_Icon,
.signUp_Form_Key_Icon {
  width: 15px;
  height: 15px;
}

.signUp_Button {
  background: var(--backbuttons);
  width: 350px;
  height: 50px;
  border-radius: 12px;
  border: 2px;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}
.SignUp_With {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.SignUp_SocialMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.SocialMedia_Google,
.SocialMedia_Whatsapp,
.SocialMedia_Facebook {
  width: 50px;
  height: 50px;
  background: var(--backInputs);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.SocialMedia_Google a,
.SocialMedia_Whatsapp a,
.SocialMedia_Facebook a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp_SocialMedia_Google,
.signUp_SocialMedia_Whatsapp,
.signUp_SocialMedia_Facebook {
  width: 20px;
  height: 20px;
}

.signUp_Login {
  margin-left: 180px;
}
