@import url(normalize.css);

body {
  background: var(--white);
  width: 100vw;
  height: 100vh;
}

.update {
  background: var(--white);
  display: flex;
  flex-direction: column;
  height: 64vh;
  width: 100vw;
  gap: 20px;
}

.update_Title {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.update_Title h1 {
  font-weight: bold;
}
.update_Title img {
  height: 60px;
}
.update_Table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.update_Table_RowThead {
  display: flex;
  gap: 20px;
}
.btn {
  width: max-content;
  height: max-content;
  border-radius: 12px;
  border: 2px;
  font-size: 20px;
  color: var(--black);
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.update_Alert_Icon {
  height: 30px;
}

#btn_Alert {
  background: rgba(212, 51, 70, 0.09);
  border-bottom: 2px solid var(--magenta);
  box-shadow: 0px 2px 10px var(--magenta);
  padding: 20px;
  gap: 10px;
}
#btn_Caution {
  background: rgba(255, 139, 56, 0.09);
  border-bottom: 2px solid var(--orange);
  box-shadow: 0px 2px 10px var(--orange);
  padding: 20px;
  gap: 10px;
}
#btn_Info {
  background: rgba(72, 246, 249, 0.09);
  border-bottom: 2px solid var(--cyan);
  box-shadow: 0px 2px 10px var(--cyan);
  padding: 20px;
  gap: 10px;
}
#btn_News {
  background: rgba(219, 80, 226, 0.09);
  border-bottom: 2px solid var(--purple);
  box-shadow: 0px 2px 10px var(--purple);
  padding: 20px;
  gap: 10px;
}

.collapse {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 63%;
}
